# Maven build output
packages/core/target/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env.local

/synapse-docs
/synapse-plugins
/synapse-plugin-template
/synapse-plugins-community
